.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.page-button {
  padding: 0px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.page-button:hover {
  color: #1DA1F2;
}
