.details-main {
  min-height: 50px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details {
  width: 600px;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
}

.user-names {
  padding-left: 15px;
}
.user-names h3 {
  margin: 0;
}

.user-names h6 {
  margin: 0;
  color: gray;
}

.follower-count {
  text-align: end;
  width: -webkit-fill-available;
}

.follower-count span {
  opacity: .7;
  font-size: 15px;
}

@media screen and (max-width: 750px) {
  .user-details {
    width: 70vw;
  }
}
